{% extends 'base-front.html.twig' %}

{% block title %}Change Password{% endblock %}
{% block body %}

{{form_start(form)}}
{{form_row(form.plainPassword) }}
<button type="submit">envoyer</button>

{{form_end(form)}}

{% endblock %}