{% extends 'base-front.html.twig' %}

{% block title %}Change Password{% endblock %}
{% block body %}

<div style="height: 100vh;">
    {{form_start(form)}}
    {{form_row(form.plainPassword) }}
    <button type="submit">envoyer</button>
    
    {{form_end(form)}}
</div>

{% endblock %}