{% extends 'base-front.html.twig' %}

{% block title %}Reset Password{% endblock %}
{% block body %}

{{form_start(form)}}
{{form_row (form.email)}}
<button type="submit">envoyer</button>

{{form_end(form)}}

{% endblock %}