{% extends 'base-admin.html.twig' %}

{% block title %}Modification produit{% endblock %}

{% block body %}

{{ form_start(form) }}
<button type="submit" class="btn btn-success">Soumettre</button>

{% if product.productPictures %}
    {% for picture in product.productPictures %}
    <p>image actuelle</p>
        <img src="{{asset('upload/productImages/'~picture.path)}}">
    {% endfor %}   
{% endif %}

{{ form_end(form) }}

{% endblock %}