{% extends 'base-front.html.twig' %}

{% block title %}Hello SpaceController!{% endblock %}

{% block body %}
<div class="phare m-0 p-3 " style="height:100vh;  background-image: url('{{ asset("build/images/espace.jpg") }}')">
    <section class="container">
        <div class="row">
            <div class="col-1 col-lg-4"></div>
                <section class="col-10 col-lg-8 espace">
                    <h2 class=" m-4">Envoi dans l'espace</h1>
                    <p class=" m-4">Le 3 novembre 1957, l'URSS envoyait dans l'espace la chienne Laïka, qui devenait ainsi le premier être vivant placé en orbite autour de la Terre. </p>
                    <p class=" m-4">A l'instar de Space X offrez à votre compagnon à poilsou à plumes une virée dans l'espace!</p>
                    <p class=" m-4">Ce service unique au monde vous est proposé en exclusivité mondial en partenariat avec la NASA.</p>
                    <p class=" m-4">Vous vous engagez à laissé la NASA analiser votre compagnon au retour pour alléger les frais du voyage.</p>
                    <p class=" m-4">Pour plus de renseignements, contactez-nous!</p>
                 </section>
        </div>
    </div>
</div>

{% endblock %}