{% extends 'base-front.html.twig' %}

{% block title %}Hello SpaceController!{% endblock %}

{% block body %}
<div class="phare m-0 p-3 " style="background-image: url('{{ asset("build/images/espace.jpg") }}')">
    <section class="container">
        <div class="row">
            <div class="col-1 col-lg-4"></div>
                <section class="col-10 col-lg-8 espace">
                    <h2 class=" m-4">Envoi dans l'espace</h1>
                    <p class=" m-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus tempore ipsa corporis facere incidunt. Dolores, vitae eveniet et praesentium molestiae commodi! Perferendis eligendi, nemo facilis odit deleniti nostrum? Enim, repellat.</p>
                    <p class=" m-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus tempore ipsa corporis facere incidunt. Dolores, vitae eveniet et praesentium molestiae commodi! Perferendis eligendi, nemo facilis odit deleniti nostrum? Enim, repellat.</p>
                    <p class=" m-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus tempore ipsa corporis facere incidunt. Dolores, vitae eveniet et praesentium molestiae commodi! Perferendis eligendi, nemo facilis odit deleniti nostrum? Enim, repellat.</p>
                    <p class=" m-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus tempore ipsa corporis facere incidunt. Dolores, vitae eveniet et praesentium molestiae commodi! Perferendis eligendi, nemo facilis odit deleniti nostrum? Enim, repellat.</p>
                    <p class=" m-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus tempore ipsa corporis facere incidunt. Dolores, vitae eveniet et praesentium molestiae commodi! Perferendis eligendi, nemo facilis odit deleniti nostrum? Enim, repellat.</p>
                 </section>
        </div>
    </div>
</div>

{% endblock %}