{% extends 'base-admin.html.twig' %}

{% block title %}Ajout de marque{% endblock %}

{% block body %}

<div class="container m-4">
    
    <div class="col-8">
        <H2 class="greenText mb-4 p-0">Nouvelle marque</H2>
        {{ form_start(form) }}
        {{ form_row(form.label) }}
        {{ form_row(form.imagePath)}}
        <button type="submit" class="btn btn-success">Soumettre</button>
        {{ form_end(form) }}
    </div>
</div>

{% endblock %}