{% extends 'base-admin.html.twig' %}

{% block title %}Ajout de marque{% endblock %}

{% block body %}

{{ form_start(form) }}
<button type="submit" class="btn btn-success">Soumettre</button>
{{ form_end(form) }}

{% endblock %}