{% extends 'base-admin.html.twig' %}

{% block title %}Modification marque{% endblock %}

{% block body %}

{{ form_start(form) }}
<button type="submit" class="btn btn-success">Soumettre</button>

{% if brand.imagePath %}
    <p>image actuelle</p>
    <img class="container-image border" src="{{asset('upload/brandImages/'~brand.imagePath)}}">
{% endif %}

{{ form_end(form) }}

{% endblock %}