h1 {
    display: none;
}

.green {
    background-color: $green;
    color: $gray;
}

.phare{
    background-size: cover;
    background-repeat: no-repeat;
}

.grey{
    color: $gray;
}

.greenText{
    color: $green;
}

.logo{
    width: 60%;
    height: 20%;
}