h1 {
    display: none;
}

.green {
    background-color: $green;
    color: $gray;
}

.phare{
    background-size: cover;
    background-repeat: no-repeat;
}

.grey{
    color: $gray;
}

.greenText{
    color: $green;
}

.whiteText{
    color: white;
}

.logo{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container-image {
    position: relative;
    height: 220px;

    
    > img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
        transition: ease-in-out .15s;

        &:hover {
            cursor: pointer;
            transform: scale(1.05);
            transition: ease-in-out .15s;
        }
    }
}