@import "bootstrap";

$green: #22C293;
$grey: rgb(68, 68, 68);
$white: white;




h1 {
    display: none;
}

.green {
    background-color: $green;
    color: $grey;
}

.phare{
    background-size: cover;
    background-repeat: no-repeat;
}

.grey{
    color: $grey;
}

.greenText{
    color: $green;
}